/*
//  Author: Max Windau / Tim van Dijk
//  E-mail: Max.Windau@gmail.com
*/

/***************/
/* HTML & BODY */
/***************/

html, body {
    margin: 0;
    padding: 0;
}

/***********************/
/* FONTS, TEXT & COLOR */
/***********************/

/* Main font */
h1,h2,h3,h4,h5,h6,p,b,u,i {
    font-family: Helvetica Neue, sans-serif;
}
/* Headers margin */
h1,h2,h3,h4,h5,h6 {

}

/* Link colors */
a:link {
    color: #F18D05;
}
a:visited {
    color: #F18D05;
}
a:hover {
    color: #D87400;
}
a:active {
    color: #D87400;
}

/********/
/* DIVS */
/********/

/* Containers */
.support {
    padding-top: 75px;
}

/* Header */
.header {
    width: 100%;
    min-height: 55px;
/*    background-color: #F18D05;*/
    background: #F18D05; /* Old browsers */
    background: -moz-linear-gradient(top, #f18d05 0%, #ff9719 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f18d05), color-stop(100%,#ff9719)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f18d05 0%,#ff9719 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f18d05 0%,#ff9719 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f18d05 0%,#ff9719 100%); /* IE10+ */
    background: linear-gradient(to bottom, #f18d05 0%,#ff9719 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f18d05', endColorstr='#ff9719',GradientType=0 ); /* IE6-9 */
    border-bottom: 1px solid #D87400;
    color: white;
    padding: 11px 0px;
    box-shadow: 0px 1px 1px rgba(50, 50, 50, 0.3);
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
}
.no-margin {
    margin:0 !important;
}
.header-push {
    padding-top:85px;
}
.header .left {
    text-align:left;
    margin-top:3px;
    /* menu hover fix */
    margin-bottom:-20px;
    pading-bottom:20px;
}
.left .icon {
    margin-top:-1px;
    float:left;
    margin-right:8px;
}
.header .center {
    text-align:center;
    /* menu hover fix */
    margin-bottom:-20px;
    pading-bottom:20px;
}
.header .right {
    text-align:right;
    /* menu hover fix */
    margin-bottom:-20px;
    pading-bottom:20px;
}

/* Menu */
.main-menu .popover {
    position: fixed;
    top:50px;
    left:4px;
    border:none;
    box-shadow: 0px 2px 6px rgba(50, 50, 50, 0.7);
    padding:0 !important;
    width:250px;
    text-align:center;   
}
.main-menu .popover-content{
    padding:0 !important;
    overflow:hidden;
    border-radius:5px;
}
.main-menu .arrow {
    margin-left:-113px !important;
}
.account-menu .popover {
    position: fixed;
    top:50px;
    right:10px;
    left:auto;
    border:none;
    box-shadow: 0px 2px 6px rgba(50, 50, 50, 0.7);
    padding:0 !important;
    width:250px;
    text-align:center;   
}
.account-menu .popover-content{
    padding:0 !important;
    overflow:hidden;
    border-radius:5px;
}
 .account-menu .arrow {
    margin-left: 92px !important;
 }
.menu-listener {
    position:fixed;
    top:65px;
    left:0;
    height:calc(100% - 103px);
    width:100%;
    z-index: 000;
}

/* Blocks */
.block {
    background-color: #fafafa;
    border:1px solid #eee;
    overflow:hidden;
    margin-bottom:20px;
}
.block-header h3 {
    margin:10px !important;
}
.block-header {
    border-bottom: 1px solid #eee;
}

.block-header .left {
    text-align:left;
}
.block-header .right  {
    text-align:right;
    font-size:19px;
    color:#f18d05;
}
.block-content {
    margin:10px;
}
.tedoen-panel {
    margin-top:18px;
}

/* Footer */
.footer {
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    height:35px;
    padding:5px 5px 5px 10px;
    border-top:none 1px black;
    background-color:#f9f9f9;
}
.footer-push {
    height:35px;
    width:100%;
}

/***********/
/* BUTTONS */
/***********/

/* turn off blue button 'glow' */
a, button {
    outline: none !important;
}

/* btn-basis: orange button with 5% darker hover */
.btn-basis {
    color: #ffffff !important;
    background-color: #F18D05;
    border-color: transparent;
    margin-bottom: 8px !important;
}
.btn-basis:hover, .btn-basis:focus, .btn-basis:active, .btn-basis.active, .open .dropdown-toggle.btn-basis {
    color: #ffffff !important;
    background-color: #D87400;
    border-color: transparent;
}
.btn-basis:active, .btn-basis.active, .open .dropdown-toggle.btn-basis {
    color: white !important;
}
.btn-basis.disabled, .btn-basis[disabled], fieldset[disabled] .btn-basis, .btn-basis.disabled:hover, .btn-basis[disabled]:hover, fieldset[disabled] .btn-basis:hover, .btn-basis.disabled:focus, .btn-basis[disabled]:focus, fieldset[disabled] .btn-basis:focus, .btn-basis.disabled:active, .btn-basis[disabled]:active, fieldset[disabled] .btn-basis:active, .btn-basis.disabled.active, .btn-basis[disabled].active, fieldset[disabled] .btn-basis.active {
    background-color: #D87400;
    border-color: #FFFFFF;
    color: white !important;
}
.btn-basis .badge {
    color: white !important;
    background-color: #F18D05;
}
.label-basis {
    background-color: #F18D05;
    color: #ffffff !important;
}
.label-basis[href]:hover, .label-basis[href]:focus {
    background-color: #D87400;
    color: white !important;
}

/* btn-menu: orange bordered button with colored hover */
.btn-menu {
    color: #F18D05 !important;
    background-color: transparent;
    border-top:1px solid #F18D05;
    font-size:16px;
    width:250px;
    padding:6px;
    border-radius:0;
}
.btn-menu:hover, .btn-menu:focus, .btn-menu:active, .btn-menu.active, .open .dropdown-toggle.btn-menu {
    color: white !important;
    background-color: #F18D05;
    border-top:1px solid #F18D05;
    border-radius: 0px !important;
}
.btn-menu:active, .btn-menu.active, .open .dropdown-toggle.btn-menu {
    color: white !important;
}
.btn-menu.disabled, .btn-menu[disabled], fieldset[disabled] .btn-menu, .btn-menu.disabled:hover, .btn-menu[disabled]:hover, fieldset[disabled] .btn-menu:hover, .btn-menu.disabled:focus, .btn-menu[disabled]:focus, fieldset[disabled] .btn-menu:focus, .btn-menu.disabled:active, .btn-menu[disabled]:active, fieldset[disabled] .btn-menu:active, .btn-menu.disabled.active, .btn-menu[disabled].active, fieldset[disabled] .btn-menu.active {
    background-color: white;
    border-color: #F18D05;
    color: white !important;
}

/**********/
/* TABLES */
/**********/

td {
    border-top: none !important;
    width: 100%;
}
.row-dashboard {
    margin-bottom: 20px;
}

/***********************/
/* BOOTSTRAP OVERRIDES */
/***********************/

/* Tooltip Voluntr */
.tooltip.right {
    font-size: 15px !important;
    white-space: nowrap !important;
}
.tooltip.right .tooltip-inner {
    background-color: #4DBCE9;
    border-radius: 0px !important;
}
.tooltip.right .tooltip-arrow {
    border-right-color: #4DBCE9 !important;
}

/* Progress-bar Voluntr */
.progress {
    background: rgba(255, 255, 255, 1);
    border: 0px solid rgba(245, 245, 245, 1);
    border-radius: 4px;
    height: 22px;
}
.progress-bar-basis {
    background: #F18D05;
}
.progress-striped .progress-bar-basis {
    background-color: #F18D05;
    background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent)));
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-size: 40px 40px;
}

/********/
/* MISC */
/********/



