/*
//  Author: Max Windau / Tim van Dijk
//  E-mail: Max.Windau@gmail.com
*/

/***************/
/* HTML & BODY */
/***************/

html, body {
    margin: 0;
    padding: 0;
}

/***********************/
/* FONTS, TEXT & COLOR */
/***********************/

/* Main font */
h1,h2,h3,h4,h5,h6,p,b,u,i {
    font-family: Helvetica Neue, sans-serif;
}
/* Headers margin */
h1,h2,h3,h4,h5,h6 {
    margin: 0 !important;
    padding: 0 !important;
}

/* Link colors */
a:link {
    color: #F18D05;
}
a:visited {
    color: #F18D05;
}
a:hover {
    color: #D87400;
}
a:active {
    color: #D87400;
}

/********/
/* DIVS */
/********/

/* Containers */
.container {
    background-color: #fafafa;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%
}
.support {
    padding-top: 75px;
}

/* Header */
.header {
    width: 100%;
    height: 55px;
    background-color: #F18D05;
    color: white;
    overflow: hidden;
    padding: 11px 0px;
    box-shadow: 0px 1px 1px rgba(50, 50, 50, 0.3);
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
}
.header-push {
    padding-top: 75px;
    padding-bottom: 50px;
}
.header .left {
    text-align:left;
    margin-top:3px;
}
.left .icon {
    margin-top:-1px;
    float:left;
    margin-right:8px;
}
.header .center {
    text-align:center;
}
.header .right {
    text-align:right;
}

/* Menu */
.menu {
    text-align:center;
}

/* Blocks */
.block {
    border-left:4px solid #F18D05;
    padding-left:10px;
}
.block-border {
    margin-top:8px;
    margin-bottom:10px;
    border-bottom: 1px solid #eee;
}
.block-header .left {
    color:inherit;
    text-align:left;
}
.block-header .right  {
    color:#aaa;
    text-align:right;
}
.tedoen-panel {
    margin-top:18px;
}

/***********/
/* BUTTONS */
/***********/

/* btn-basis: orange button with 5% darker hover */
.btn-basis {
    color: #ffffff !important;
    background-color: #F18D05;
    border-color: transparent;
    margin-bottom: 8px !important;
}
.btn-basis:hover, .btn-basis:focus, .btn-basis:active, .btn-basis.active, .open .dropdown-toggle.btn-basis {
    color: #ffffff !important;
    background-color: #D87400;
    border-color: transparent;
}
.btn-basis:active, .btn-basis.active, .open .dropdown-toggle.btn-basis {
    color: white !important;
}
.btn-basis.disabled, .btn-basis[disabled], fieldset[disabled] .btn-basis, .btn-basis.disabled:hover, .btn-basis[disabled]:hover, fieldset[disabled] .btn-basis:hover, .btn-basis.disabled:focus, .btn-basis[disabled]:focus, fieldset[disabled] .btn-basis:focus, .btn-basis.disabled:active, .btn-basis[disabled]:active, fieldset[disabled] .btn-basis:active, .btn-basis.disabled.active, .btn-basis[disabled].active, fieldset[disabled] .btn-basis.active {
    background-color: #D87400;
    border-color: #FFFFFF;
    color: white !important;
}
.btn-basis .badge {
    color: white !important;
    background-color: #F18D05;
}
.label-basis {
    background-color: #F18D05;
    color: #ffffff !important;
}
.label-basis[href]:hover, .label-basis[href]:focus {
    background-color: #D87400;
    color: white !important;
}

/* btn-menu: orange bordered button with colored hover */
.btn-menu {
    color: #F18D05 !important;
    background-color: transparent;
    border: 2px solid #F18D05;
    margin-bottom: 8px !important;
    font-size:16px;
    margin-right:2px;
    margin-left:2px;
}
.btn-menu:hover, .btn-menu:focus, .btn-menu:active, .btn-menu.active, .open .dropdown-toggle.btn-menu {
    color: #ffffff !important;
    background-color: #F18D05;
    border-color: #F18D05;
}
.btn-menu:active, .btn-menu.active, .open .dropdown-toggle.btn-menu {
    color: white !important;
}
.btn-menu.disabled, .btn-menu[disabled], fieldset[disabled] .btn-menu, .btn-menu.disabled:hover, .btn-menu[disabled]:hover, fieldset[disabled] .btn-menu:hover, .btn-menu.disabled:focus, .btn-menu[disabled]:focus, fieldset[disabled] .btn-menu:focus, .btn-menu.disabled:active, .btn-menu[disabled]:active, fieldset[disabled] .btn-menu:active, .btn-menu.disabled.active, .btn-menu[disabled].active, fieldset[disabled] .btn-menu.active {
    background-color: white;
    border-color: #F18D05;
    color: white !important;
}

/**********/
/* TABLES */
/**********/

td {
    border-top: none !important;
    width: 100%;
}
.row-dashboard {
    margin-bottom: 20px;
}

/***********************/
/* BOOTSTRAP OVERRIDES */
/***********************/

/* Tooltip Voluntr */
.tooltip.right {
    font-size: 15px !important;
    white-space: nowrap !important;
}
.tooltip.right .tooltip-inner {
    background-color: #4DBCE9;
    border-radius: 0px !important;
}
.tooltip.right .tooltip-arrow {
    border-right-color: #4DBCE9 !important;
}

/* Progress-bar Voluntr */
.progress {
    background: rgba(255, 255, 255, 1);
    border: 0px solid rgba(245, 245, 245, 1);
    border-radius: 4px;
    height: 22px;
}
.progress-bar-basis {
    background: #F18D05;
}
.progress-striped .progress-bar-basis {
    background-color: #F18D05;
    background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent)));
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-size: 40px 40px;
}





