/*
//  Author: Max Windau / Tim van Dijk
//  E-mail: Max.Windau@gmail.com
*/
/***************/
/* HTML & BODY */
/***************/

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}
/***********************/
/* FONTS, TEXT & COLOR */
/***********************/
/* Headers margin */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: medium;
}

.login-title {
    text-align:center;
    color:darken(@brand-primary, 0%);
    font-size:80px;
}
/********/
/* DIVS */
/********/
/* Containers */
.login-dialog {
    margin-top:20px;
}

.support {
    padding-top: 75px;
}

.notification-bar {
    height: 30px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: darken(@brand-warning, 0%);
    color: white;
    text-align: center;
    padding: 0px;
    font-weight: 300;
}

.notification-bar .left {
    text-align: left;
}

.notification-bar .right {
    text-align: right;
}
/* Header */

.header {
    width: 100%;
    height: 45px;
    background-color: @brand-primary;
    /* Old browsers */
    
    border-bottom: 1px solid darken(@brand-primary, 5%);
    color: white;
    padding: 6px 0px;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
}

.header .right {
    text-align:right;
}
.header .divider {
    width:0px;
    height:35px;
    margin: 5px 10px 5px 5px;
    border-left: 1px solid darken(@brand-primary, 5%);
}
.header .account {
    font-size:14px;
    margin-top:-7px;
    margin-top:-7px;
}
.no-margin {
    margin: 0 !important;
}

.header-push {
    padding-top: 45px;
}

.header-divider {
    margin-left:10px;
    width:10px;
    height:35px;
    border-left:1px solid darken(@brand-primary, 5%);
    float:left;
}
/* Menu */

.main-menu .popover {
    position: fixed;
    top: 50px;
    left: 4px;
    border: none;
    box-shadow: 0px 2px 6px rgba(50, 50, 50, 0.7);
    padding: 0 !important;
    width: 250px;
    text-align: center;
}

.main-menu .popover-content {
    padding: 0 !important;
    overflow: hidden;
    border-radius: 5px;
}

.main-menu .arrow {
    margin-left: -113px !important;
}

.account-menu .popover {
    position: fixed;
    top: 50px;
    right: 10px;
    left: auto;
    border: none;
    box-shadow: 0px 2px 6px rgba(50, 50, 50, 0.7);
    padding: 0 !important;
    width: 250px;
    text-align: center;
}

.account-menu .popover-content {
    padding: 0 !important;
    overflow: hidden;
    border-radius: 5px;
}

.account-menu .arrow {
    margin-left: 92px !important;
}

.menu-listener {
    position: fixed;
    top: 65px;
    left: 0;
    height: calc(100% - 103px);
    width: 100%;
    z-index: 000;
}
/* Blocks */

.block {
    overflow: hidden;
    margin-bottom: 20px;
    background-color: #333;
}

.block-header h3 {
    margin: 10px !important;
    font-size: 15px !important;
    color: white;
}

.block-header .label {
    font-size: 14px;
    margin: 7px;
    font-weight: 200;
}

.block-header .left {
    text-align: left;
}

.block-header .right {
    text-align: right;
    font-size: 10px !important;
    color: #f18d05;
}

.block-content {
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: none;
}

.tedoen-panel h4 {
    padding: 0 !important;
    margin: 0 !important;
}
/* Footer */

.wrapper-footer {
    min-height: 100%;
    height: auto !important;
    /* This line and the next line are not necessary unless you need IE6 support */
    
    height: 100%;
    margin: 0 auto -35px;
    /* the bottom margin is the negative value of the footer's height */
}

.footer,
.push-footer {
    height: 35px;
    /* .push must be the same height as .footer */
}

.belvenster {
    text-align: center;
}
/***********/
/* BUTTONS */
/***********/

.btn-header {
    color: white;
    background-color: darken(@brand-primary, 4%);
    border-color: transparent;
    padding:3px 9px !important;
    margin:0;
    margin-top:-4px;
    font-size: 14px !important;
    border:none;
    font-weight:400;
    border-radius:3px;
}

.btn-header:hover,
.btn-header:focus,
.btn-header:active,
.btn-header.active,
.open .dropdown-toggle.btn-header {
    color: white;
    background-color: darken(@brand-primary, 6%);
    border:none;
}

.btn-header:active,
.btn-header.active,
.open .dropdown-toggle.btn-header {
    background-color: lighten(@brand-primary, 45%);
    background-image: none;
    color:darken(@brand-primary, 6%);
}

.btn-header.disabled,
.btn-header[disabled],
fieldset[disabled] .btn-header,
.btn-header.disabled:hover,
.btn-header[disabled]:hover,
fieldset[disabled] .btn-header:hover,
.btn-header.disabled:focus,
.btn-header[disabled]:focus,
fieldset[disabled] .btn-header:focus,
.btn-header.disabled:active,
.btn-header[disabled]:active,
fieldset[disabled] .btn-header:active,
.btn-header.disabled.active,
.btn-header[disabled].active,
fieldset[disabled] .btn-header.active {
    background-color: gray;
    border: none;
}

.btn-header .badge {
    color: white;
    background-color: darken(@brand-primary, 10%);
}

.rooster-tekort {
    background-color:@brand-danger;
}
.rooster-ingevuld {
    background-color:@brand-success;
}
.rooster-optie {
    background-color: @brand-warning;
}
.rooster-nietnodig {
    background: repeating-linear-gradient(
    45deg,
    transparent,
    transparent 7px,
    #bbb 7px,
    #bbb 14px
    );
    border: 1px solid #bbb;
    height:18px;
}
.rooster-label {
    font-weight:100 !important;
    font-size:11px;
    border-radius:3px;
    color:white;
    padding:2px 4px;
    width:100%;
    margin-left:auto;
    margin-right:auto;
}

/**********/
/* TABLES */
/**********/

td, th {
    padding: 2px 20px 2px 0px;
    min-width:200px;
}
table {
    min-width:100%;
    margin-bottom:10px;
}